*.class
*.log
activator
*.jar

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


#Scala Conf
conf/application.conf

# Scala-IDE specific
.scala_dependencies
.worksheet
.java-version


